openapi: 3.2.0
info:
  title: Campfire Developer Integrations API
  description: 'Campfire''s developer APIs offer granular, programmatic access to Campfire''s AI-native ERP: core accounting and the general ledger, chart of accounts and company objects, accounts payable and receivable, bank reconciliation, cash management, financial statements, revenue recognition, settings, and integrations/webhooks.'
  version: 1.0.0
  contact:
    name: Campfire
    url: https://docs.campfire.ai/
  x-modeled-by: API Evangelist (Kin Lane) - curated subset of the upstream Campfire OpenAPI
  x-upstream-openapi: https://api.meetcampfire.com/api/schema?format=json
servers:
- url: https://api.meetcampfire.com
  description: Production server
security:
- knoxApiToken: []
tags:
- name: Integrations
paths:
  /integrations/api/v1/webhook:
    get:
      operationId: integrations_api_v1_webhook_list
      tags:
      - Integrations
      summary: List Webhooks
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: integrations_api_v1_webhook_create
      tags:
      - Integrations
      summary: Create Webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /integrations/api/v1/webhook/{id}:
    get:
      operationId: integrations_api_v1_webhook_retrieve
      tags:
      - Integrations
      summary: Retrieve Webhook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    knoxApiToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based (Knox) authentication. Send the header as: Authorization: Token <your-api-token>.'
