openapi: 3.2.0
info:
  title: Campfire Developer Revenue Recognition API
  description: 'Campfire''s developer APIs offer granular, programmatic access to Campfire''s AI-native ERP: core accounting and the general ledger, chart of accounts and company objects, accounts payable and receivable, bank reconciliation, cash management, financial statements, revenue recognition, settings, and integrations/webhooks.'
  version: 1.0.0
  contact:
    name: Campfire
    url: https://docs.campfire.ai/
  x-modeled-by: API Evangelist (Kin Lane) - curated subset of the upstream Campfire OpenAPI
  x-upstream-openapi: https://api.meetcampfire.com/api/schema?format=json
servers:
- url: https://api.meetcampfire.com
  description: Production server
security:
- knoxApiToken: []
tags:
- name: Revenue Recognition
paths:
  /rr/api/v1/contracts:
    get:
      operationId: list_contracts
      tags:
      - Revenue Recognition
      summary: List Contracts
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: create_contract
      tags:
      - Revenue Recognition
      summary: Create Contract
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /rr/api/v1/customers:
    get:
      operationId: rr_api_v1_customers_list
      tags:
      - Revenue Recognition
      summary: List Contract Customers
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /rr/api/v1/product:
    get:
      operationId: list_products
      tags:
      - Revenue Recognition
      summary: List Contract Products
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: create_product
      tags:
      - Revenue Recognition
      summary: Create Contract Product
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    knoxApiToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based (Knox) authentication. Send the header as: Authorization: Token <your-api-token>.'
