openapi: 3.0.3
info:
  title: Campfire Developer APIs Accounts Payable Accounts Receivable API
  description: 'Campfire''s developer APIs offer granular, programmatic access to Campfire''s AI-native ERP: core accounting and the general ledger, chart of accounts and company objects, accounts payable and receivable, bank reconciliation, cash management, financial statements, revenue recognition, settings, and integrations/webhooks. This document is a representative, API-Evangelist-curated subset modeled directly from Campfire''s published OpenAPI at https://api.meetcampfire.com/api/schema (186 documented paths). Request and response schemas are simplified to generic objects here; consult the upstream schema for full field-level detail.'
  version: 1.0.0
  contact:
    name: Campfire
    url: https://docs.campfire.ai/
  x-modeled-by: API Evangelist (Kin Lane) - curated subset of the upstream Campfire OpenAPI
  x-upstream-openapi: https://api.meetcampfire.com/api/schema?format=json
servers:
- url: https://api.meetcampfire.com
  description: Production server
security:
- knoxApiToken: []
tags:
- name: Accounts Receivable
paths:
  /coa/api/v1/credit-memo:
    get:
      operationId: coa_api_v1_credit_memo_list
      tags:
      - Accounts Receivable
      summary: List Credit Memos
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: coa_api_v1_credit_memo_create
      tags:
      - Accounts Receivable
      summary: Create Credit Memo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /coa/api/v1/invoice/:
    get:
      operationId: coa_api_v1_invoice_list
      tags:
      - Accounts Receivable
      summary: List Invoices
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: coa_api_v1_invoice_create
      tags:
      - Accounts Receivable
      summary: Create Invoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /rr/api/v1/product:
    get:
      operationId: list_products
      tags:
      - Accounts Receivable
      summary: List Contract Products
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: create_product
      tags:
      - Accounts Receivable
      summary: Create Contract Product
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    knoxApiToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based (Knox) authentication. Send the header as: Authorization: Token <your-api-token>.'
