openapi: 3.0.3
info:
  title: Campfire Developer APIs Accounts Payable Financial Statements API
  description: 'Campfire''s developer APIs offer granular, programmatic access to Campfire''s AI-native ERP: core accounting and the general ledger, chart of accounts and company objects, accounts payable and receivable, bank reconciliation, cash management, financial statements, revenue recognition, settings, and integrations/webhooks. This document is a representative, API-Evangelist-curated subset modeled directly from Campfire''s published OpenAPI at https://api.meetcampfire.com/api/schema (186 documented paths). Request and response schemas are simplified to generic objects here; consult the upstream schema for full field-level detail.'
  version: 1.0.0
  contact:
    name: Campfire
    url: https://docs.campfire.ai/
  x-modeled-by: API Evangelist (Kin Lane) - curated subset of the upstream Campfire OpenAPI
  x-upstream-openapi: https://api.meetcampfire.com/api/schema?format=json
servers:
- url: https://api.meetcampfire.com
  description: Production server
security:
- knoxApiToken: []
tags:
- name: Financial Statements
paths:
  /ca/api/cash-basis:
    get:
      operationId: ca_api_cash_basis_retrieve
      tags:
      - Financial Statements
      summary: Get Cash Basis Income Statement
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /ca/api/get_balance_sheet:
    get:
      operationId: ca_api_get_balance_sheet_retrieve
      tags:
      - Financial Statements
      summary: Get Balance Sheet
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /ca/api/get_cash_flow:
    get:
      operationId: ca_api_get_cash_flow_retrieve
      tags:
      - Financial Statements
      summary: Get Cash Flow
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /ca/api/get_income_statement:
    get:
      operationId: ca_api_get_income_statement_retrieve
      tags:
      - Financial Statements
      summary: Get Income Statement
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /ca/api/get_trial_balance:
    get:
      operationId: ca_api_get_trial_balance_retrieve
      tags:
      - Financial Statements
      summary: Get Trial Balance
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
  /coa/api/general-ledger:
    get:
      operationId: coa_api_general_ledger_retrieve
      tags:
      - Financial Statements
      summary: Get General Ledger
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    knoxApiToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based (Knox) authentication. Send the header as: Authorization: Token <your-api-token>.'
