openapi: 3.0.3
info:
  title: Campfire Developer APIs Accounts Payable coa API
  description: 'Campfire''s developer APIs offer granular, programmatic access to Campfire''s AI-native ERP: core accounting and the general ledger, chart of accounts and company objects, accounts payable and receivable, bank reconciliation, cash management, financial statements, revenue recognition, settings, and integrations/webhooks. This document is a representative, API-Evangelist-curated subset modeled directly from Campfire''s published OpenAPI at https://api.meetcampfire.com/api/schema (186 documented paths). Request and response schemas are simplified to generic objects here; consult the upstream schema for full field-level detail.'
  version: 1.0.0
  contact:
    name: Campfire
    url: https://docs.campfire.ai/
  x-modeled-by: API Evangelist (Kin Lane) - curated subset of the upstream Campfire OpenAPI
  x-upstream-openapi: https://api.meetcampfire.com/api/schema?format=json
servers:
- url: https://api.meetcampfire.com
  description: Production server
security:
- knoxApiToken: []
tags:
- name: coa
paths:
  /coa/api/entity/{entity_id}/attachment:
    post:
      operationId: coa_api_entity_attachment_create
      tags:
      - coa
      summary: Upload Entity Invoice Email Attachment
      parameters:
      - name: entity_id
        in: path
        required: true
        schema:
          type: string
        description: entity_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    knoxApiToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Token-based (Knox) authentication. Send the header as: Authorization: Token <your-api-token>.'
